<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="USERNAME / EMAIL EINGEBEN" />
    <add key="passwort" value="PASSWORT EINGEBEN" />
    <add key="geburtsdatum" value="GEBURTSDATUM EINGEBEN"/>
    <add key="strasse" value="STRASSE EINGEBEN"/>
    <add key="hausnr" value="HAUSNUMMER EINGEBEN"/>
    <add key="plz" value="POSTLEITZAHL EINGEBEN"/>
  </appSettings>
</configuration>